@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.SKS_frmLogin {
    left: -1px;
    top: -1px;
}
.SKS_frmLogin .frmLogin {
    $tmp: variables.window-theme-values(
        $background: rgba(240, 240, 240, 1),
        $width: 289px,
        $height: 137px,
        $overflow: hidden,
        $font-size: 8.25pt,
        $left: 189px,
        $top: 232px,
    );
    @include components.window-theme($tmp);
}
.SKS_frmLogin ._lblLabels_1 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 39px,
        $top: 52px,
        $width: 72px,
        $height: 18px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmLogin ._lblLabels_0 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 39px,
        $top: 26px,
        $width: 72px,
        $height: 18px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmLogin .cmdOK {
    $tmp: variables.button-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 89px,
        $top: 100px,
        $width: 76px,
        $height: 26px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.SKS_frmLogin .txtPassword {
    $tmp: variables.textbox-theme-values(
        $background: rgba(255, 255, 255, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 118px,
        $top: 51px,
        $width: 155px,
        $height: 23px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.SKS_frmLogin .cmdCancel {
    $tmp: variables.button-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 196px,
        $top: 100px,
        $width: 76px,
        $height: 26px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.SKS_frmLogin .txtUserName {
    $tmp: variables.textbox-theme-values(
        $background: rgba(255, 255, 255, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 118px,
        $top: 25px,
        $width: 155px,
        $height: 23px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
