@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.SKS_frmOrderRequest {
    left: -1px;
    top: -1px;
}
.SKS_frmOrderRequest .frmOrderRequest {
    $tmp: variables.window-theme-values(
        $background: rgba(240, 240, 240, 1),
        $width: 523px,
        $height: 703px,
        $overflow: hidden,
        $font-size: 8.25pt,
        $left: 3px,
        $top: 25px,
    );
    @include components.window-theme($tmp);
}
.SKS_frmOrderRequest .Label6 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 8px,
        $top: 320px,
        $width: 105px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .Label7 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 256px,
        $top: 320px,
        $width: 105px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .Label8 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 8px,
        $top: 568px,
        $width: 89px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .Label9 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 272px,
        $top: 616px,
        $width: 89px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .Label10 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 272px,
        $top: 592px,
        $width: 89px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .Label11 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 8px,
        $top: 616px,
        $width: 89px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .Label12 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 8px,
        $top: 592px,
        $width: 89px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .Label13 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 8px,
        $top: 544px,
        $width: 89px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .dtPromised {
    $tmp: variables.datetimepicker-theme-values(
        $font-size: 8.25pt,
        $left: 352px,
        $top: 320px,
        $width: 97px,
        $height: 20px,
        $position: absolute,
    );
    @include components.datetimepicker-theme($tmp);
}
.SKS_frmOrderRequest .Frame2 {
    $tmp: variables.groupbox-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 8px,
        $top: 256px,
        $width: 505px,
        $height: 49px,
        $position: absolute,
    );
    @include components.groupbox-theme($tmp);
}
.SKS_frmOrderRequest .Label1 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 232px,
        $top: 16px,
        $width: 57px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .Label5 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 8px,
        $top: 16px,
        $width: 57px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .txtCustomerCompany {
    $tmp: variables.textbox-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 72px,
        $top: 16px,
        $width: 145px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.SKS_frmOrderRequest .txtCustomerContact {
    $tmp: variables.textbox-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 288px,
        $top: 16px,
        $width: 209px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.SKS_frmOrderRequest .Frame1 {
    $tmp: variables.groupbox-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 8px,
        $top: 8px,
        $width: 505px,
        $height: 249px,
        $position: absolute,
    );
    @include components.groupbox-theme($tmp);
}
.SKS_frmOrderRequest .Label2 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 8px,
        $top: 48px,
        $width: 89px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .Label4 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 8px,
        $top: 16px,
        $width: 89px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .Label3 {
    $tmp: variables.label-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 240px,
        $top: 48px,
        $width: 97px,
        $height: 17px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.SKS_frmOrderRequest .lvCustomers {
    $tmp: variables.listview-theme-values(
        $background: rgba(255, 255, 255, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 8px,
        $top: 80px,
        $width: 489px,
        $height: 161px,
        $position: absolute,
    );
    @include components.listview-theme($tmp);
}
.SKS_frmOrderRequest .txtCompanyName {
    $tmp: variables.textbox-theme-values(
        $background: rgba(255, 255, 255, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 88px,
        $top: 16px,
        $width: 145px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.SKS_frmOrderRequest .cmdCustomers {
    $tmp: variables.button-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 456px,
        $top: 16px,
        $width: 25px,
        $height: 21px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.SKS_frmOrderRequest .txtContactName {
    $tmp: variables.textbox-theme-values(
        $background: rgba(255, 255, 255, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 88px,
        $top: 48px,
        $width: 145px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.SKS_frmOrderRequest .txtContactLastName {
    $tmp: variables.textbox-theme-values(
        $background: rgba(255, 255, 255, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 336px,
        $top: 48px,
        $width: 145px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.SKS_frmOrderRequest .cmdClose {
    $tmp: variables.button-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 416px,
        $top: 648px,
        $width: 89px,
        $height: 25px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.SKS_frmOrderRequest .cmdAddProducts {
    $tmp: variables.button-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 488px,
        $top: 336px,
        $width: 25px,
        $height: 21px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.SKS_frmOrderRequest .cmdSave {
    $tmp: variables.button-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 320px,
        $top: 648px,
        $width: 89px,
        $height: 25px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.SKS_frmOrderRequest .dtRequired {
    $tmp: variables.datetimepicker-theme-values(
        $font-size: 8.25pt,
        $left: 120px,
        $top: 320px,
        $width: 97px,
        $height: 20px,
        $position: absolute,
    );
    @include components.datetimepicker-theme($tmp);
}
.SKS_frmOrderRequest .sbStatusBar {
    $tmp: variables.statusstrip-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $left: 0,
        $bottom: 0,
        $width: 100%,
        $height: 25px,
        $position: absolute,
        $border: inset 1px,
    );
    @include components.statusstrip-theme($tmp);
}
.SKS_frmOrderRequest .sbStatusBar_Panels_Panel1 {
    $tmp: variables.toolstrip-statuslabel-theme-values(
        $width: 523px,
        $height: 25px,
        $position: relative,
    );
    @include components.toolstrip-statuslabel-theme($tmp);
}
.SKS_frmOrderRequest .fgProducts {
    $tmp: variables.datagridviewflex-theme-values(
        $left: 8px,
        $top: 360px,
        $width: 505px,
        $height: 177px,
        $position: absolute,
    );
    @include components.datagridviewflex-theme($tmp);
}
.SKS_frmOrderRequest .txtEntry {
    $tmp: variables.textbox-theme-values(
        $background: rgba(255, 255, 255, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 96px,
        $top: 544px,
        $width: 145px,
        $height: 19px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.SKS_frmOrderRequest .txtSalesTax {
    $tmp: variables.textbox-theme-values(
        $background: rgba(255, 255, 255, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 96px,
        $top: 568px,
        $width: 145px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.SKS_frmOrderRequest .txtFreightCharge {
    $tmp: variables.textbox-theme-values(
        $background: rgba(255, 255, 255, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 96px,
        $top: 592px,
        $width: 145px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.SKS_frmOrderRequest .txtTotalTax {
    $tmp: variables.textbox-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 352px,
        $top: 592px,
        $width: 145px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.SKS_frmOrderRequest .txtTotal {
    $tmp: variables.textbox-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 96px,
        $top: 616px,
        $width: 145px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.SKS_frmOrderRequest .txtSubTotal {
    $tmp: variables.textbox-theme-values(
        $background: rgba(240, 240, 240, 1),
        $font-size: 8.25pt,
        $foreground: rgba(0, 0, 0, 1),
        $left: 352px,
        $top: 616px,
        $width: 145px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
